<div class="filtros">

<select class="form-select"  (change)="Onchange($event)">
<option value="todas">Seleccione nivel de dificultad</option>
        <option value="baja">Baja</option>
        <option value="media">Media</option>
        <option value="alta">Alta</option>

</select>

<div class="post">
  @for (post of arrPost; track post.categoria) {
    <div class="post">
      <h2>{{ post.titulo }}</h2>
      <p>{{ post.texto }}</p>
      <p style="font-family: oregano; color: darkcyan;font-size: 20px;">{{post.fecha}}</p>
      <img [src]="post.imagen" alt="" />
      <p style="color: darkcyan; font-family: oregano; font-size: 20px; margin-bottom: 2px;">Posted by {{ post.autor }}</p>
      <p style="color: darkcyan; background-color: darkcyan; color: white; padding: 6px; width: 500px;">Dificultad: {{ post.categoria }}</p>
      <hr>
    </div>
  }
</div>
</div>





