@import url(https://fonts.googleapis.com/css?family=Oregano:regular,italic);


h2 {
    font-family: 'Oregano';
    color: darkcyan;
    margin-top: 20px;
    font-size: 35px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
    background-color: rgba(122, 202, 202, 0.322);
    color: rgb(1, 80, 80);
    margin-top: 40px;
}

img {
    padding-bottom: 5px;
    width: 500px;
    height: auto;
}