

<div class="container">
      <h1>Bienvenidos, al Blog de Rubén</h1>
      <p>Hola, Bienvenidos a todo/as los senderistas, este es un blog que su misión principal es conocer las rutas de Madrid más existosas, tanto para los que vivimos en esta gran ciudad como para todas las personas que están interesadas en conocer la Sierra de Guadarrama, que es tan maravillosa y tan llena de vida y tan cerca de la ciudad</p>

    <nav>
        <ul>
            <li  class="btn btn-outline-primary btn-lg" [routerLink]="['post']">Todos los Post</li>
            <li  class="btn btn-outline-info btn-lg" [routerLink]="['formulario']">New Post</li>
        </ul>

    </nav>

<router-outlet></router-outlet>
</div>