@import url(https://fonts.googleapis.com/css?family=Kavoon:regular);

@import url(https://fonts.googleapis.com/css?family=Norican:regular);

.container {
    background: linear-gradient(90deg, rgb(4, 114, 122) 0%, rgb(52, 138, 160) 35%, rgb(2, 97, 116) 100%);
    padding: 10px 15px 15px 15px;
    border-radius: 3%;
    font-size: 17px;
    color: black;
}

h1 {
    font-family: 'Kavoon';
    text-align: center;
    font-size: 50px;
    color: white;
}

.boton {
    font-family: 'Kavoon';
}

.error {
    color: rgb(252, 250, 250);
    font-size: 0.9rem;
}