<div class="body">
<div class="container">
  <h1>Crea una ruta</h1>
  
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <div class="mb-3 mt-3">
      <label class="form-label">Título</label>
      <input type="text" class="form-control" formControlName="titulo" placeholder="Introduce un título"/>
      @if (checkError("titulo", "required")) {
        <p class="error">Debe introducir el campo titulo</p>
    }
    </div>

    <div class="mb-3 mt-3">
      <label for="form-label">Texto</label>
      <input type="text" class="form-control" formControlName="texto" placeholder="Introduce un texto"/>
       @if (checkError("texto", "required")) {
        <p class="error">Debe introducir el campo texto</p>
    }
    </div>

    <div class="mb-3">
      <label class="form-label">Autor</label>
      <input type="text" class="form-control" formControlName="autor" placeholder="Introduce un autor"/>
       @if (checkError("autor", "required")) {
        <p class="error">Debe introducir el campo autor</p>
    }
    </div>

    <div class="mb-3">
      <label class="form-label">Imagen</label>
      <input type="text" class="form-control" formControlName="imagen" placeholder="Introduce la url de la imagen"/>
       @if (checkError("imagen", "required")) {
        <p class="error">Debe introducir una imagen</p>
    }
    </div>
    
    <div class="mb-3 dificultad ">
          <p>Nivel de dificultad</p>
      <select formControlName="categoria">
        <option selected value="baja">Baja</option>
        <option value="media">Media</option>
        <option value="alta">Alta</option>
      </select>
    </div>
   
    <div class="boton">
    <input type="submit" value="New" class="btn btn-dark" [disabled]="!formulario.valid"/>
    </div>
  </form>
</div>

</div>



